<% if !@week_menus.nil? %>
	<% @week_menus.each do |object| %>
	<ul class="menu">
		<li class="header">
			<span class="name"><%= object[:menu].name %></span>
			<span><%= readable_date object[:menu].date %></span>
			<button id="order_menu_<%= object[:menu].id %>" class="order_menu button" >Ordenar</button>
		</li>
		<li>
			<ul class="dishes">
				<% object[:menu].dishes.each do |dish| %>
				<li class="dish"><%= dish.name %></li>
				<% end #each %>
			</ul>
		</li>
	</ul>
	<% end %>
<% end %>