<h1>Listado de Menús</h1>

<% @menus.each do |object| %>
<ul class="menu">
	<li class="header">
		<span><%= object[:menu].name %></span>
		<span><%= object[:menu].date %></span>
	</li>
	<li>
		<ul class="dishes">
			<% object[:menu].dishes.each do |dish| %>
			<li class="dish"><%= dish.name %></li>
			<% end %>
		</ul>
	</li>
</ul>
<%
=begin
link_to 'Show', menu
link_to 'Edit', edit_menu_path(menu)
link_to 'Destroy', menu, confirm: 'Are you sure?', method: :delete
=end
%>
<% end %>

<%= link_to 'New Menu', new_menu_path %>
