<div id="fb-root"></div>
<!-- <fb:login-button length="long" onlogin="location.href = '<%= signin_path %>'" scope="email">Regístrate con Facebook</fb:login-button> -->
<div class="fb-login-button">
	<a href="<%= signin_url %>">Regístrate con Facebook</a>	
</div>
