<div id="fb-root"></div>
      
<fb:login-button length="long" onlogin="location.href = '<%= facebook_path %>'" scope="email">Regístrate con Facebook</fb:login-button>
<a href="<%= facebook_url %>">Login with Facebook </a>